{% extends 'templates/app.twig' %}

{% block content %}

<section class="parallax_window_in short" data-parallax="scroll" data-image-src="./assets/img/dumptruck.jpg" data-natural-width="1400" data-natural-height="400">
		<div id="sub_content_in">
			<div class="container">
				<h1>About us</h1>
				<p>"A-Class Indigenous Contractor in Africa"</p>
			</div>
		</div>
	</section><!-- End section -->
 	
    <div id="position">
		<div class="container">
			<ul>
				<li><a href="#">Home</a></li>
				<li>About us</li>
			</ul>
		</div>
	</div><!-- End position -->

<main>
	<div class="container margin_60">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="main_title_left"><em></em>History<span></span></h3>
				<p class="lead styled">Engineers and Planners (E&P) is the leading indigenous Ghanaian mining contracting firm in Ghana, specializing in the Extractive Industry (Mining Gold and Iron Ore).</p>
				<p>The company has its headquarters in Ghana, with other offices in Liberia. Engineers & Planners (E&P) started its journey as far back as 1997, renting Heavy Duty Equipment to stakeholders in the Construction and Extractive Industry in Ghana.
                Today, our interests are diverse in terms of geographical area and in product offer. 
                Our businesses include mining, exploration & grade control, load & haul, bulk haulage transport, earth & civil works, heavy duty equipment rental and consultancy services in the extractive industry.
                Our objectives are to transform these values to drive the growth and development of the Organization, to impact the lives of our Shareholders, Customers, and Employees, remaining competitive and uncompromising on safety, and environmental issues while providing economic empowerment to the communities and countries in which we operate.
                Our Core values are Integrity, Innovation, Transformation, Transparency, and Good Corporate Governance.</p>
				<h4>Mission</h4>
				<p>To become an  “A-CLASS INDIGENOUS CONTRACTOR IN AFRICA, PROVIDING QUALITY SERVICE TO OUR STAKEHOLDERS IN GHANA AND ON THE CONTINENT OF AFRICA”. </p>
                <h4>Vision</h4>
				<p>To be the first wholly owned ghanaian mining company of choice, comparable to industry giants locally and internationally.</p>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<img src="./assets/img/about_1.jpg" alt="" class="img-responsive">
				<img src="./assets/img//about_1.jpg" alt="" class="img-responsive">
			</div>
		</div><!--/row-->
	</div><!--/container-->
    <section class="bg_content">
		<div class="container margin_120">
			<div>
				<h3 class="main_title white"><em></em>What Clients say<span>about Engineer Planners</span></h3>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="owl-carousel owl-theme carousel_testimonials">

								<div>
									<div class="box_overlay">
										<div class="pic">
											<figure><img src="img/testimonial_1.jpg" alt="" class="img-circle"></figure>
											<h4>Roberta<small>12 October 2015</small></h4>
										</div>
										<div class="comment">
											"Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
										</div>
									</div><!-- /box_overlay -->
								</div>

								<div>
									<div class="box_overlay">
										<div class="pic">
											<figure><img src="img/testimonial_1.jpg" alt="" class="img-circle"></figure>
											<h4>Roberta<small>12 October 2015</small></h4>
										</div>
										<div class="comment">
											"No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
										</div>
									</div><!-- /box_overlay -->
								</div>

								<div>
									<div class="box_overlay">
										<div class="pic">
											<figure><img src="img/testimonial_1.jpg" alt="" class="img-circle"></figure>
											<h4>Roberta<small>12 October 2015</small></h4>
										</div>
										<div class="comment">
											"No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
										</div>
									</div><!-- /box_overlay -->

								</div>
							</div><!-- /carousel_testimonials -->

						</div><!-- /col-md-8 -->
					</div><!-- /row -->
				</div><!-- /container -->
			</div><!-- /promo_full_wp -->
		</div><!-- /promo_full -->
	</section><!-- /section -->

	<div class="bg_white">
		<div class="container margin_60_35">
			<h3 class="main_title">Meet the Staff</h3>
			<p class="lead styled center">
				Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.
			</p>
			<!--Team Carousel -->
			<div class="row">
				<div class="owl-carousel owl-theme case_studies">

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-1.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Mitchell Young</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-2.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Ronald Green</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-3.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Carl Peppard</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-4.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Sandra Bullock</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div><!--/Team Carousel-->
		</div><!-- /container -->
	   </div><!-- /bg_white  -->
	</main><!--/main-->
    

{% endblock %}