{% extends 'templates/app.twig' %}

{% block content %}

    <main>
        <div id="full-slider-wrapper">
            <div id="layerslider" style="width:100%;height:600px;">
                <!-- first slide -->
                <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:85;">
                    <img src="./assets/img/dumptruck.jpg" class="ls-bg" alt="Slide background">
                    <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Work
                        with world class experts</h3>
                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                        "Solutions for Modern Startup"
                    </p>
                    <a class="ls-l button_intro_2" style="top:68%; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"
                        href='#'>Read more</a>
                </div>
                <!-- second slide -->
                <div class="ls-slide" data-ls="slidedelay:5000; transition2d:103;">
                    <img src="./assets/img/3.jpg" class="ls-bg" alt="Slide background">
                    <h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Modern
                        solutions for your business</h3>
                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                        "Solutions for Modern Startup"
                    </p>
                    <a class="ls-l button_intro_2" style="top:68%; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"
                        href='#'>Read more</a>
                </div>
                <!-- third slide -->
                <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                    <img src="assets/img/5.jpg" class="ls-bg" alt="Slide background">
                    <h3 class="ls-l slide_typo" style="top:45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Marketing
                        strategy</h3>
                    <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                        "Solutions for Modern Startup"
                    </p>
                    <a class="ls-l button_intro_2" style="top:68%; left:50%;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"
                        href='#'>Explore</a>
                </div>
            </div>
        </div><!-- End layerslider -->

        <div class="container margin_60_35">
			<h2 class="main_title"><em></em>Discover our Services<span>Our services include</span></h2>
			<div class="row">
				<div class="col-sm-4">
					<a class="box_service" href="#">
						<span class="icon_info"></span>
						<i class="pe-7s-rocket"></i>
						<h3 class="service-header">Tailings Dam Construction</h3>
						<p>We pride ourselves as the only indigenous Ghanaian mining company to have built ...</p>
					</a>
				</div>
				<div class="col-sm-4">
					<a class="box_service" href="#">
						<span class="icon_info"></span>
						<i class="pe-7s-target"></i>
						<h3 class="service-header">Construction of Mine site Haul Roads</h3>
						<p>Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne.</p>
					</a>
				</div>
				<div class="col-sm-4">
					<a class="box_service" href="#">
						<span class="icon_info"></span>
						<i class="pe-7s-medal"></i>
						<h3 class="service-header">Exploration Drilling</h3>
						<p>Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne.</p>
					</a>
				</div>
			</div>
			<!--/row-->
			<div class="row">
				<div class="col-sm-4">
					<a class="box_service" href="#">
						<span class="icon_info"></span>
						<i class="pe-7s-graph3"></i>
						<h3 class="service-header">Drill &amp; Blast</h3>
						<p>Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne.</p>
					</a>
				</div>
				<div class="col-sm-4">
					<a class="box_service" href="#">
						<span class="icon_info"></span>
						<i class="pe-7s-graph1"></i>
						<h3 class="service-header">Load & Haul</h3>
						<p>Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne.</p>
					</a>
				</div>
				<div class="col-sm-4">
					<a class="box_service" href="#">
						<span class="icon_info"></span>
						<i class="pe-7s-chat"></i>
						<h3 class="service-header">Heap Leach Pads & construction of  Drainage Canals</h3>
						<p>Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne.</p>
					</a>
				</div>
			</div>
			<!--/row-->
			<p class="text-center"><a href="#" class="btn_1 home">View All Services</a></p>
		</div>
        <!--End of services-->
        <div class="bg_white">
            <div class="container margin_60_35">
                <h3 class="main_title_left"><em></em>Recent projects<span>Curabitur quam etsum lacus etsumis</span></h3>
                <div class="owl-carousel owl-theme case_studies add_bottom_30">

                    <div>
                        <a href="#" title="Building Plan">
                            <figure><img src="./assets/img/case_study_thumb_1.jpg" alt=""> </figure>
                            <h4>Building Plan</h4>
                            <p>Consulting</p>
                        </a>
                    </div>

                    <div>
                        <a href="#" title="Business Area">
                            <figure><img src="./assets/img/case_study_thumb_1.jpg" alt=""> </figure>
                            <h4>Business Area</h4>
                            <p>Consulting</p>
                        </a>
                    </div>

                    <div>
                        <a href="#" title="Project Marketing">
                            <figure><img src="./assets/img/case_study_thumb_1.jpg" alt=""> </figure>
                            <h4>Project Marketing</h4>
                            <p>Consulting</p>
                        </a>
                    </div>

                    <div>
                        <a href="#" title="Logistic Plan">
                            <figure><img src="./assets/img/case_study_thumb_1.jpg" alt=""> </figure>
                            <h4>Logistic Plan</h4>
                            <p>Consulting</p>
                        </a>
                    </div>
                    
                    <div>
                        <a href="#" title="Certification">
                            <figure><img src="./assets/img/case_study_thumb_1.jpg" alt=""> </figure>
                            <h4>Certification</h4>
                            <p>Consulting</p>
                        </a>
                    </div>
                    
                </div><!--/case_studies -->
            </div><!--/container-->
        </div>
        <!---/Recent Project -->
        <div class="container margin_60_0">
				<div class="row">
					<div class="col-md-5">
						<h3 class="main_title_left"><em></em>OBJECTIVES<span></span></h3>
						<p class="lead styled">Our objectives are to TRANSFORM these VALUES to drive the growth and development of the Organization, to impact the lives of our Shareholders, Customers, and Employees, remaining competitive and uncompromising on SAFETY, and ENVIRONMENTAL issues while providing economic empowerment to the communities and countries in which we operate.</p>
						<ul class="list_ok">
							<li>
								<h4>Mission</h4>
								<p>To become an  “A-CLASS INDIGENOUS CONTRACTOR IN AFRICA, PROVIDING QUALITY SERVICE TO OUR STAKEHOLDERS IN GHANA AND ON THE CONTINENT OF AFRICA”. </p>
							</li>
							<li>
								<h4>Vision</h4>
								<p>To be the first wholly owned Ghanaian mining company of choice, comparable to industry giants locally and internationally.</p>
							</li>
							<li>
								<h4>Values</h4>
								<p>Our Core values are Integrity, Innovation, Transformation, Transparency, and Good Corporate Governance.</p>
							</li>
						</ul>
					</div>
					<div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
						<img src="./assets/img/screen_home.jpg" alt="" class="img-responsive">
					</div>
				</div><!--/row-->
			</div><!--/container-->
             <!---/Recent Project -->
    </main>
    <!--/main-->

{% endblock %}