<footer>
        <div class="container margin_60_35">
            <div class="row ">
                <div class="col-md-4 col-sm-6">
                    <img src="{{ base_url() }}/assets/img/engplannerslogo.jpg" width="190" height="48" alt="Prometeo" data-retina="true" id="logo_footer">
                    <p>Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris
                        hendrerit ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam
                        putent. Ius ornatus instructior in.</p>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <h3>Discover</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Quotation</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Terms and condition</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3" id="contact_bg">
                    <h3>Contacts</h3>
                    <ul id="contact_details_footer">
                        <li id="address_footer">C11/21 Alajo Link Road, Off Olusegun Obasanjo Highway, Abelenkpe<br>Accra Ghana</li>
                        <li id="phone_footer"><a href="tel://00233302764649">+233 (0) 302 764649 </a> / <a href="tel://00233302765547">+233 (0) 302 765547</a></li>
                        <li id="email_footer"><a href="#">info@engplanners.us</a></li>
                    </ul>
                </div>
            </div><!-- End row -->
            <div id="social_footer">
                <ul>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-google"></i></a></li>
                    <li><a href="#"><i class="icon-vimeo"></i></a></li>
                </ul>
            </div>
        </div><!-- End container -->
        <div id="copy">
            <div class="container">
                © EngrPlanners 2019 - All rights reserved.
            </div>
        </div><!-- End copy -->
    </footer><!-- End footer -->