{% extends '/templates/app.twig' %}

{% block content %}

<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/subheader_in_2.jpg" data-natural-width="1400" data-natural-height="400">
	<div id="sub_content_in">
	    <div class="container">
			<h1>About us</h1>
			<p>"Usu habeo equidem sanctus no ex melius"</p>
		</div>
	</div>
</section><!-- End section -->
 	
<div id="position">
	<div class="container">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Category</a></li>
			<li>Page active</li>
		</ul>
	</div>
</div><!-- End position -->
<main>
    <div>
        <h2>Hello Who we are</h2>
    </div>
</main>

{% endblock %}